<!DOCTYPE html>
<html>
<head>
    <title>NEWTITLE</title>
</head>
<body>
    <h1>เว็บไซต์นี้เป็นเพียงการทดลองเท่านั้น!</h1>
    <p>0.1Web PPPP</p>
        <style>
        /* CSS เพื่อกำหนดความกว้างและความสูงของภาพ */
        img {
            max-width: 300px; /* กำหนดความกว้างสูงสุดของภาพเป็น 300px */
            max-height: 200px; /* กำหนดความสูงสูงสุดของภาพเป็น 200px */
        }
    </style>
    <img src="/images/main.jpg" alt="HUH">
    <iframe src="https://scratch.mit.edu/projects/967934037/embed" allowtransparency="true" width="900" height="450" frameborder="0" scrolling="no" allowfullscreen></iframe>
</body>
</html>
<div id="clock"></div>
 <script>
    function displayTime() {
        var date = new Date(); // รับวันที่และเวลาปัจจุบัน
        var time = date.toLocaleTimeString(); // แปลงเวลาเป็นรูปแบบท้องถิ่น

        // แสดงเวลาในตำแหน่งที่มี id เป็น "clock"
        document.getElementById('clock').innerHTML = time;
    }

    // เรียกฟังก์ชัน displayTime() เพื่อให้แสดงเวลาทุกๆ 1 วินาที
    setInterval(displayTime, 1000);
</script>
<nav>
    <ul>
         <li><a href="https://cdn.mtdv.me/video/rick.mp4">ไรว่ะ</a></li>
    </ul>
</nav>
